

<!--
<div class="product-item__b2b-inner">


  {%- if cart.item_count > 0 -%}
    {%- for item in cart.items -%}
      {%- if item.product.id == product.id -%}
        {{   item.quantity }}
      {%- endif -%}     
    {%- endfor -%}     
  {%- endif -%}
</div>
-->