{% # 
    render 'sme-newsletter-js'
%}
   
<div>
    <script src="https://forms.sonymusicfans.com/wp-content/plugins/smf-core/src/js/form-validation.js" id="form-validation"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" id="popper-js"></script>
       
    <script>
      
    
    document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('cmdistro-de-website-newsletter-signup')
    const button = document.getElementById('sme_button')
    
    button.addEventListener('click', function(e) {
        e.preventDefault();
        console.log(form)
        const params = new URLSearchParams();
        for (const pair of new FormData(form)) {
            params.append(pair[0], pair[1]);
        }


        fetch("https://subs.sonymusicfans.com/submit", {
        method: 'POST',
        body: params.toString(),
        credentials: 'omit',
        mode: 'cors',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        }
        }).then((response) => {
            console.log(response)
            if (response.status === 200) {
                console.log("Post successfully created!")
                const node = document.createElement("p");
                node.classList.add('subscribe-success')
                const textnode = document.createTextNode("Subscribed!");
                node.appendChild(textnode);
                form.appendChild(node);
                            }
            return response.json()
        }).catch((error) => {
            console.log(error)
        })

        }, false)
    }) 
    </script>


    <style>
        .display-none, .hidden {
            display: none;
        }

        .subscribe-success {
            background: var(--success-background);
            margin-top: 5px;
            padding: 5px;
            font-size: 15px;
            border-radius: 2px;
                }
    </style>
</div>